@model Mod.ClientSettings.Models.EditorGroupSettingsPart

<fieldset>
    <legend></legend>
	<div>
		@Html.LabelFor(m => m.EditorGroups, T("Editor Groups"))
		@Html.TextBoxFor(m => m.EditorGroups, new { @class = "text medium" })
		@Html.ValidationMessage("EditorGroups", "*")
	</div>
</fieldset>